.prepare__filters {
  margin-top: 24px;
  padding: 24px 24px 18px 24px;
  border-radius: 16px;
  background-color: var(--yellow-main);
  @media (max-width: 1260px) {
    margin-top: 0;
    max-width: 628px;
  }
  @media (max-width: 730px) {
    max-width: 328px;
  }
  .prepare-filters__img {
    max-width: 447px;
    @media (max-width: 1260px) {
      max-width: 579px;
    }
    @media (max-width: 730px) {
      max-width: 280px;
    }
  }
  .prepare-filters__card {
    display: flex;
    gap: 24px;
    max-width: 400px;
    padding: 0;
    @media (max-width: 1260px) {
      max-width: 371px;
    }
    @media (max-width: 730px) {
      gap: 16px;
      p {
        font-size: 14px;
      }
    }
    .prepare-filters__icon {
      background-color: var(--yellow-700);
    }
  }
}
