.footer {
  padding: 64px 0 17px 0;
  background-color: var(--purple-1000);
  border-radius: 20px 20px 0 0;

  @media (max-width: 1260px) {
    padding: 40px 0px 15px 0;
  }

  @media (max-width: 730px) {
    padding: 16px;
  }

  .footer__logo {
    max-width: 99px;
  }

  .footer__subtitle {
    margin-top: 16px;
    color: #fff;
  }

  .footer__text {
    margin-top: 64px;
    color: var(--black-400);
    @media (max-width: 1260px) {
      margin-top: 50px;
    }
    @media (max-width: 730px) {
      margin-top: 16px;
    }
  }

  .footer__line {
    height: 1px;
    width: 100%;
    background-color: #e6e6e61a;
    margin-top: 35px;
    @media (max-width: 1260px) {
      margin-top: 20px;
    }
    @media (max-width: 730px) {
      margin-top: 16px;
    }
  }
}
