.container.progress {
  margin-top: 24px;
  padding: 24px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 12px;

  .progress__flex-wrap {
    display: flex;
    justify-content: space-between;
  }

  .progress__bc {
    position: relative;
    margin-top: 15px;
    height: 4px;
    width: 100%;
    background-color: var(--purple-200);
    border-radius: 5px;
  }

  .progress__bar {
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--purple-700);
    transition: width 0.5s ease;
    border-radius: 5px;
  }
}
