@import url(./variables.css);

:root {
  --main-purple: #6a0bff;
  --main-purple-hover: #5509cc;
  --main-purple-active: #400799;
  --purple-100: #f0e7ff;
  --dark-purple: #18003e;
  --light-purple-hover: #e1ceff;
  --light-purple-active: #c39dff;
  --purple-500: #a66dff;
  --button-disabled: #d1d1d1;
  --black-text: #191919;
  --background-color-main: #f8f8f8;
  --yellow-main: #fffcf2;
  --yellow-700: #ffda85;
  --black-50: #e8e8e8;
  --black-200: #bababa;
  --black-400: #8c8c8c;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--background-color-main);
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--main-purple);
  height: 48px;
  border-radius: 12px;
  color: #fff;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;

  &:hover {
    background-color: var(--main-purple-hover);
  }
  &:active {
    background-color: var(--main-purple-active);
  }
  &:disabled {
    background-color: var(--button-disabled);
    cursor: not-allowed;
  }
}

.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 45px;
  border-radius: 8px;
}
