@import url(./typography.css);

:root {
  --purple-100: #f0e7ff;
  --purple-200: #e1ceff;
  --purple-300: #d2b6ff;
  --purple-400: #c39dff;
  --purple-500: #a66dff;
  --purple-700: #6a0bff;
  --purple-800: #5509cc;
  --purple-900: #400799;
  --purple-1000: #18003e;
  --brand: #5533ff;
  --button-disabled: #d1d1d1;
  --black-text: #191919;
  --background-color-main: #f8f8f8;
  --yellow-main: #fffcf2;
  --yellow-700: #ffda85;
  --black-10: #f8f8f8;
  --black-50: #e8e8e8;
  --black-100: #d1d1d1;
  --black-200: #bababa;
  --black-400: #8c8c8c;
  --black-600: #5e5e5e;
  --black-700: #474747;
  --black-800: #303030;
  --red-25: #ffecf5;
  --red-100: #fdd8e1;
  --red-200: #fbb1c4;
  --red-300: #f98ba6;
  --red-600: #f3164e;
  --box-shadow: 0px 4px 10px rgba(106, 99, 118, 0.2);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--background-color-main);
}

.container {
  max-width: 1216px;
  margin: 0 auto;

  @media (max-width: 1260px) {
    max-width: 708px;
  }

  @media (max-width: 730px) {
    max-width: 360px;
  }
}
