h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 115%;
  text-transform: uppercase;

  @media (max-width: 1260px) {
    font-size: 40px;
  }
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 115%;
  text-transform: uppercase;

  @media (max-width: 1260px) {
    font-size: 34px;
  }
}

.body1 {
  font-size: 12px;
  line-height: 120%;
  font-weight: 400;
}

.body3 {
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
}

.body2 {
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
}

.body5-med {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;

  @media (max-width: 1260px) {
    font-size: 18px;
  }
}
