.quantity {
  margin-top: 24px;
  @media (max-width: 730px) {
    margin-top: 16px;
  }
  .quantity__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 115px;
    .qunatity__button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
