.dropdown {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  @media (max-width: 1260px) {
    display: flex;
  }
  .dropdown__btn-wrap {
    display: flex;
    align-items: center;
    gap: 6px;
    .dropdown__btn {
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      border: none;
      background-color: transparent;
    }
  }
  .dropdown__inner {
    background-color: #fff;
    border-radius: 5px;
    padding: 6px;
    min-width: 204px;
    top: 30px;
    left: 0px;
    position: absolute;
    box-shadow: var(--box-shadow);
    .dropdown__link {
      display: block;
      padding: 6px 10px;
      color: var(--black-text);
      &:hover {
        color: var(--purple-800);
        background-color: var(--background-color-main);
        border-radius: 12px;
      }
    }
  }
}
