.mode {
  padding: 130px 0;

  @media (max-width: 730px) {
    padding: 40px 0;
  }

  .mode__title {
    text-align: center;

    @media (max-width: 1260px) {
      max-width: 526px;
      margin: 0 auto;
    }

    @media (max-width: 730px) {
      max-width: 400px;
    }
  }

  .mode__flex {
    position: relative;
    display: flex;
    gap: 123px;
    margin-top: 45px;

    @media (max-width: 1260px) {
      flex-direction: column;
      gap: 84px;
    }

    @media (max-width: 730px) {
      margin-top: 16px;
      gap: 16px;
      align-items: center;
    }

    .mode__left {
      position: relative;
      .mode__screenshot {
        width: 701px;

        @media (max-width: 730px) {
          width: 328px;
        }
      }
      @media (max-width: 1260px) {
        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 90px;
          background-color: var(--black-200);
          bottom: -85px;
          left: 25%;

          @media (max-width: 730px) {
            display: none;
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 126px;
          background-color: var(--black-200);
          bottom: -124px;
          right: 25%;

          @media (max-width: 730px) {
            display: none;
          }
        }
      }
    }

    .mode__right {
      @media (max-width: 1260px) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
      }

      @media (max-width: 730px) {
        justify-content: center;
      }
      .card {
        position: relative;
        padding: 24px;
        border-radius: 12px;

        @media (max-width: 1260px) {
          padding: 16px;
          width: 344px;
          align-self: start;
          flex-shrink: 0;

          &:nth-child(2) {
            margin-top: 40px;

            @media (max-width: 730px) {
              margin-top: 16px;
            }
          }
        }

        @media (max-width: 730px) {
          max-width: 328px;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 107px;
          height: 84px;
          top: 70px;
          left: -117px;
          background: url(../assets/line.png) no-repeat center / cover;

          @media (max-width: 1260px) {
            display: none;
          }
        }

        .card__icon-top {
          background-color: var(--purple-500);
        }

        .card__icon-bottom {
          background-color: var(--yellow-700);
        }

        .card__text {
          margin-top: 24px;

          @media (max-width: 730px) {
            font-size: 14px;
          }
        }
      }

      .top {
        background-color: var(--purple-100);
      }

      .bottom {
        background-color: var(--yellow-main);
        margin-top: 26px;
      }

      .mode__text {
        font-weight: 400;
        margin-top: 21px;
        @media (max-width: 1260px) {
          position: absolute;
          bottom: 5px;
          max-width: 344px;
          flex-shrink: 0;
        }

        @media (max-width: 730px) {
          position: static;
          margin-top: 16px;
          max-width: 328px;
        }
      }
    }
  }
}
