.questions {
  .questions__wrap {
    margin-top: 24px;
    padding: 24px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0px 4px 10px rgba(106, 99, 118, 0.2);

    .questions__nav {
      display: flex;
      justify-content: space-between;

      .questions__button {
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: var(--purple-700);
      }
    }

    .questions__main {
      margin-top: 24px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .questions__title {
        display: flex;
        align-items: center;
        gap: 8px;
        &::before {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: var(--brand);
        }
      }

      .questions__img {
        min-height: 100px;
        min-width: 622px;
      }
    }
  }
}
