.specializations {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 24px;
  .specializations__title {
    color: var(--black-700);
  }

  .speacializations__wrap {
    position: relative;
  }

  .specializations__button {
    margin-top: 24px;
    width: 204px;
    align-self: flex-end;
  }
}
