.frame {
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  border: 1px solid var(--black-200);
  padding: 10px 12px;
  border-radius: 12px;
  transition: background-color 0.3s ease;

  &:hover {
    border-color: var(--purple-700);
  }
}

.active {
  border-color: var(--purple-700);
}
