.header {
  padding-top: 24px;
  .header__flex {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    .header__nav {
      .header__links {
        display: flex;
        align-items: center;
        gap: 20px;
        .header__link-item {
          cursor: pointer;
          font-size: 16px;
          line-height: 140%;
          font-weight: 500;
          color: var(--black-text);
        }
      }
    }
    .header__access {
      display: flex;
      align-items: center;
      gap: 26px;
      .header__access-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 110%;
        color: var(--main-purple);
      }
      .header__access-button {
        width: 170px;
      }
    }
  }
}
